 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,500&family=Source+Serif+Pro:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 0rem;
    background-image: url(../img/portadamain.jpg);
    background-size: cover;
    background-position: center;
}


body {
    padding: 0rem;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 0rem;
    padding-left: 4rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    min-height: 80px;
}

.menu-nav {
    list-style-type: none;
    display: flex;
    text-align: end;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: rgb(26, 27, 56,70%);
}

.logotipo {
    max-height: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.menu-item {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    padding: 15px;
    text-decoration: none;
    color: white;
    
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    align-content: center;
    

    padding: 0;
    margin: 0;

}

.h1index {
    color: white;
    font-family: 'Source Serif Pro', serif;
    font-size: 70pt;
    font-weight: 600;
    line-height: 95%;
    text-align: center;
    margin: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
}

.parrafo-hero {
    color: white;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 1rem;
    text-align: center

}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12pt;
    font-weight: 300;
}
.h2-index {
    color: white;
}
.subheaderindex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    align-content: center;
    

    padding: 0;
    margin: 0;
    background-color: rgb(26, 27, 56,90%);
}

.h2-index {
    text-align: center;
}
h2 {
    font-family: 'Source Serif Pro', serif;
    font-size: 56pt;
    font-weight: 600;
    line-height: 95%;
    text-align: center;
    margin: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    

}
.parrafo-subheader {
    color: white;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 1rem;
    text-align: center
}
.featuresindex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    background-color: #50ffdf;
}
.fi-left {
    display: flex;
    flex-direction: column;
    background-image: url(../img/card1.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    padding-bottom: 40px;
    min-height: 80vh;
    justify-content: end;
    align-items: start;

}


.fi-middleleft {
    display: flex;
    flex-direction: column;
    background-image: url(../img/card2.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    padding-bottom: 40px;
    min-height: 90vh;
    justify-content: end;
    align-items: start;

}

.fi-middleright {
    display: flex;
    flex-direction: column;
    background-image: url(../img/card3.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    padding-bottom: 40px;
    min-height: 90vh;
    justify-content: end;
    align-items: start;

}

.fi-right {
    display: flex;
    flex-direction: column;
    background-image: url(../img/card4.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    padding-bottom: 40px;
    min-height: 90vh;
    justify-content: end;
    align-items: start;

}

.icon-link {
    display: flex;
    color: white;
    align-content: center;
}

.linkdiv {
    color: white;
    text-decoration: none;
    align-content: center;

}

.bi-arrow-right-circle-fill {
    display: flex;
    font-size: 25px;
}

.carousel {
    min-height: 80vh;

}
/*
.fi-left {
    background-color: #d1d1d1;
    padding: 1rem;
    border: 1px;   
}
.fi-middleleft {
    background-color: #a8a8a8;
    padding: 5%;
    height: 600px;
    width: 25%;
    justify-content: end;
    align-items: flex-end;   
}
.fi-middleright {
    background-color: #dadada;
    padding: 5%;
    height: 600px;
    width: 25%;
    justify-content: end;
    align-items: flex-end;    
}
.fi-right {
    background-color: #9d9d9d;
    padding: 5%;
    height: 600px;
    width: 25%;
    justify-content: end;
    align-items: flex-end;    
}
*/
h3 {
    color: white;
    font-size: 36pt;
    font-weight: 600;
    font-family: 'Source Serif Pro', serif;
    line-height: 95%;
}

h4 {
    color: white;
    font-size: 28pt;
    font-weight: 400;
    font-family:  'Libre Franklin', sans-serif;
    line-height: 95%;
    
}
.h4-sub {
    font-size: 14pt;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300
  

}
    
.h4-sub-bold {
    font-size: 14pt;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600
}
h5 {
    font-size: 14pt;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
}
.testimonial-index {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 15%;
    padding-right: 15%;
    background-color:#15d4c4;
    align-items: center;

}

.testimonios-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.h4-sub {
    padding-top: 5%
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    max-height: 100vh;
}

.features-bigtext {
    display: flex;
    flex-direction: column;
    background-color: #1A1B38;
    max-height: 50vh;
    min-height: 50vh;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    justify-content: end;
    text-align: left;

}

.h2-features {
    color: white;
    font-size: 65pt;
    text-align: left;
    justify-content: left;
    padding: 1rem;
}

.p-features {
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16pt;
    font-weight: 300;
    padding-left: 1rem;
}

.features-img {
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    min-height: 50vh;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    justify-content: end;
    background-image: url(../img/card1.jpg);
    background-size: cover;
    background-position: center;
}
footer {
    background-color: #F6F6F6;
    padding: 1rem;
    max-height: 100vh;
}

.h4-footer {
    font-size: 14pt;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    color: #1A1B38;
    
}
.menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    margin: 0;
}

.text-footer {
    color: #1A1B38;
    text-decoration: none;
    font-weight: 400;

}

.menu-item-footer {
    padding: 5px;
}

.sub-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    

    padding: 0;
    margin: 0;
}
.parrafo-subheader-pages {
    color: white;
    padding-left: 10%;
    padding-right: 40%;
    padding-bottom: 1rem;
    text-align: left;
    margin: 0;
}
.h2-oferta {
    color: white;
    text-align: left;
    padding-left: 10%;
}
.cards-testimonios {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5rem;
    padding-bottom: 2rem;
    justify-content: center;
    gap: 2rem;
    
}

.img-redonda {
    align-items: center;
    padding: 1rem;
}

.testimonio1 {
    display: flex;
    min-width: 10%;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    background-color: #F6F6F6;
}

.testimonio2 {
    display: flex;
    min-width: 10%;
    background-color: rgb(216, 253, 250);
    align-items: center;
    border-radius: 10px;
}

.texto-tarjeta {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
    gap: 2rem;
}

.nav-categories {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    gap: 1rem;

}

.navcat-lic .navcat-lic-link {
    display: flex;
    background-color: #1A1B38;
    min-height: 40px;
    justify-content: center;
    color: white;
    text-align: center;
    align-content: center;
    align-items: center;
    font-size: 12pt;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 40px;
    text-decoration: none;
}

.navcat-post .navcat-lic-link  {
    display: flex;
    background-color: white;
    min-height: 40px;
    justify-content: center;
    color:#1A1B38;
    text-align: center;
    align-content: center;
    align-items: center;
    font-size: 12pt;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 40px;
    border: 1px solid;
    border-color: #1A1B38;
    text-decoration: none;
}

.planestudios {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    gap: 1rem;

}

.h2ofertasub {
    padding-left: 10%;
    justify-content: left;
}
.search-navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0%;
    padding-right: 5%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    gap: 1rem;
    align-items: center;

}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-form input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    font-size: 12pt;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 40px;
    border: 1px solid;
    border-color: #1A1B38;
    text-decoration: none;
  }
  
  .search-form button[type="submit"] {
    background-color:rgb(0, 0, 0,0%);
    color:#1A1B38;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
  }


.navplandeestudios {
    display: flex;
    flex-direction: row;
    padding: 0rem;
    list-style-type: none;
}

.navplan-descarga {
    display: flex;
    background-color:#15d4c4;
    min-height: 40px;
    justify-content: center;
    color:#fff;
    text-align: center;
    align-content: center;
    align-items: center;
    font-size: 12pt;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 40px;
    text-decoration: none;
    margin: 0;
}

.call-to-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    max-height: 100vh;
    min-height: 100vh;
}

.cta-text {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    justify-content: center;
}
.cta-img {
    display: flex;
    background-image: url(../img/portadaOferta.jpg);

}

.cta-link {
    display: flex;
    padding: 1rem;
    
}

.cta-link-text {
    color: #1A1B38;
    font-size: 14pt;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem;
    
}

.texto-imagen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: "cta-img" "cta-text";
    justify-content: space-evenly;
    max-height: 100vh;
    min-height: 100vh;
}

.features-four {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    max-height: 100vh;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 80vh;
}

.img-team {
    max-height: 80vh;
    border-radius: 20px;
    padding: 2rem;

}

.team-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h3-azul {
    color: #1A1B38;
}

@media  (max-width: 480px) {

    h3 {
        color: white;
        font-size: 30pt;
        font-weight: 600;
        font-family: 'Source Serif Pro', serif;
        line-height: 95%;
    }
    .featuresindex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr, 1fr, 1fr;

    }
    .fi-left {
        min-height: 35vh;
    
    }

    .fi-middleleft {
        min-height: 35vh;
    }
    .fi-middleright {
        min-height: 35vh;
    }
    .fi-right {
        min-height: 35vh;
    }
    
    .cards-testimonios { 
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

    .container-nav {
        padding-left: 1rem;
        padding-bottom: 0%;
        padding-right: 1rem;
    }

    .menu-nav {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        flex-direction: column;
    }

    .h1index {
        color: white;
        font-family: 'Source Serif Pro', serif;
        font-size: 56pt;
        font-weight: 600;
        line-height: 95%;
        text-align: center;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    .parrafo-hero {
        color: white;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1rem;
        text-align: center;
    }    

    .parrafo-subheader {
        color: white;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 1rem;
        text-align: center
    }

    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: space-evenly;
    }

    .features-bigtext {
        display: flex;
        flex-direction: column;
        background-color: #1A1B38;
        max-height: 50vh;
        min-height: 50vh;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        justify-content: end;
        text-align: left;
    
    }

    .features-img {
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        min-height: 50vh;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: rem;
        justify-content: end;
        background-image: url(../img/card1.jpg);
        background-size: cover;
        background-position: center;
    }
    
    footer {
        background-color: #F6F6F6;
        padding: 1rem;
        max-height: 100vh;
    }

    .nav-categories {
        padding: 1rem;
    }
    .navcat-lic {
        min-width: 50px;
        padding: 0;
    }
    .navcat-lic-link {
        max-height: 40px;
    }

    .navcat-lic .navcat-lic-link {
        font-size: 10pt;
        text-decoration: none;
    }
}