header {
    margin-bottom: 0rem;
    background-image: url(../img/portadamain.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    overflow: hidden;
}

.header__sub {
    margin-bottom: 0rem;
    background-image: url(../img/portadaOferta.jpg);
    background-size: cover;
    background-position: center;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 0rem;
    padding-left: 4rem;
    paddingright: 0rem;
    padding-bottom: 0rem;
    min-height: 80px;

} 

.checkbox {
    display: none;
}

.icons {
    display: none;
}

.menu-nav {
    list-style-type: none;
    display: flex;
    text-align: left;
    align-items: left;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: rgb(26, 27, 56,70%);


}

.logotipo {
    max-height: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.menu-item {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    padding: 15px;
    text-decoration: none;
    color: white;
    
}



