.h1paginas {
    color: white;
    text-align: left;
    padding-left: 10%;
    font-family: 'Source Serif Pro', serif;
    font-size: 56pt;
    font-weight: 600;
    line-height: 95%;
    
    margin: 0;

    padding-bottom: 1rem;
}


h2 {
    font-family: 'Source Serif Pro', serif;
    font-size: 56pt;
    font-weight: 600;
    line-height: 95%;
    text-align: center;
    margin: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    

}

.h2-index {
    color: white;
}

.h2-index {
    text-align: center;
    animation: fadeIn;
    animation-duration: 2s;
}

.h2-features {
    color: white;
    font-size: 65pt;
    text-align: left;
    justify-content: left;
    padding: 1rem;
}
.h2-oferta {
    color: white;
    text-align: left;
    padding-left: 10%;
}

.h2-oferta__azul {
    color: #1A1B38;
    padding-left: 0;
    }

.h2ofertasub {
    padding-left: 10%;
    justify-content: left;
}

.h2ofertasub {
    padding-left: 10%;
    justify-content: left;
}

h3 {
    color: white;
    font-size: 36pt;
    font-weight: 600;
    font-family: 'Source Serif Pro', serif;
    line-height: 95%;
}
.h3-azul {
    color: #1A1B38;
}

h4 {
    color: white;
    font-size: 28pt;
    font-weight: 400;
    font-family:  'Libre Franklin', sans-serif;
    line-height: 95%;
    
}

.h4-sub {
    font-size: 14pt;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300
  

}
    
.h4-sub-bold {
    font-size: 14pt;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600
}

.h4-sub {
    padding-top: 5%
}

.h4-footer {
    font-size: 14pt;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    color: #1A1B38;
    
}
h5 {
    font-size: 14pt;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
}